<router-outlet></router-outlet>

<div class="container" [ngSwitch]="currentSection">
  <div class="login-container" *ngSwitchCase="'login'">
    <h1 class="container-title">SignIn</h1>
    <form class="login-form form">
      <div class="form-group">
        <i class="login__icon fas fa-envelope"></i>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Username / Email"
          autocomplete="none"/>
      </div>
      <div class="form-group">
        <i class="login__icon fas fa-lock"></i>
        <input
          type="password"
          id="password"
          placeholder="password"
          name="password"/>
      </div>
      <div class="form-group">
        <div class="form-action-container">
          <button type="button" class="login-btn btn" (click)="login($event)">Login</button>
          <a href="#" class="create-account-link" (click)="changeSection($event)">
            Create new account
          </a>
        </div>
      </div>
      <div class="divider">
        <span></span>
        <span>
          <div></div>
        </span>
        <span></span>
      </div>
      <div class="social-login-container">
        <div class="social-login-icons">
          <i class="fab fa-google-plus-g"></i>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-linkedin"></i>
        </div>
      </div>
    </form>
  </div>

  <div class="register-container" *ngSwitchCase="'register'">
    <h1 class="container-title">SignUp</h1>
    <form class="register-form form">
      <div class="form-group">
        <i class="register__icon fas fa-user"></i>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Full name"
          autocomplete="none"/>
      </div>
      <div class="form-group">
        <i class="register__icon fas fa-envelope"></i>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Username / Email"
          autocomplete="none"/>
      </div>
      <div class="form-group">
        <i class="register__icon fas fa-lock"></i>
        <input
          type="password"
          id="password"
          placeholder="password"
          name="password"/>
      </div>
      <div class="form-group">
        <div class="form-action-container">
          <button type="button" class="register-btn btn" (click)="register($event)">Submit</button>
          <a href="#" class="login-link" (click)="changeSection($event)">
            Login instead
          </a>
        </div>
      </div>
      <div class="divider">
        <span></span>
        <span>
          <div></div>
        </span>
        <span></span>
      </div>
      <div class="social-login-container">
        <div class="social-login-icons">
          <i class="fab fa-google-plus-g"></i>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-linkedin"></i>
        </div>
      </div>
    </form>
  </div>
</div>
